@{
    //BLOCO C#: dentro deste bloco (@{}) pode-se usar o C#
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>User @ViewData["User"]</p>

<adress>
    <strong>More information:</strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</adress>
